body {margin-top: 0px; margin-left: 0px; margin-right: 0px; overflow-x: hidden; background-color: #d7f8f3; background-image: url("backgroud.title.png")}

a{text-decoration:none;}
.menu a {color: blue}
.menu a:hover {color:crimson}
a:hover{color:#60f}

#header { width: 100%; height: 80px; box-sizing: border-box; float: left;
    position: fixed; z-index: 3; background-color: white;
}

.menu { width: 50%; height: 80px; box-sizing: border-box; float: right;
    list-style-type: none;
    font-family: "Adobe Arabic"; font-size: 30px; text-align: right; color: blue;
    margin-top: 0px; padding-top: 20px; font-weight: bold;
}

.menu  li { float: left; width: 22.5%; text-align: center;
    border: solid 0.5px #cccccc;
}

#logo{
    width: 40%; height: 80px; float: left; box-sizing: border-box;
    margin-left: 20px;
}
ul.submenu > li {
    width: 138%; list-style-type: none; background-color: white;
    text-align: center; margin-left: -40px;
}
ul.submenu { display: none; }
li:hover { cursor: pointer; color: crimson;}
li:hover ul.submenu { display: block;}
ul.submenu li:hover {border-bottom: solid #1bbea0 3px}

#search {float: left; width: 7.5%; box-sizing: border-box; border: none}
#search img {width: 20px; height: 20px; padding-top: 5px;}
#seachBox {float:left; width: 70%; height: 50px; margin-top: 100px; margin-left: 15%;}
#inputBox {width: 100%; height: 42px; border-radius: 20px; font-size: 20px; padding-left: 10px;  }
#xbutton {width: 25px; height: 25px; float: right; margin-top: -36px; margin-right: 10px; opacity: 0.2; position: relative}
#xbutton:hover {cursor: pointer; opacity: 1}
#DSGames {width: 69%; height: 0px; float: left; z-index: 0; position: relative; margin-left: 16%; overflow-y: auto; padding-top: -30px;
    background-color: white; border-radius: 20px; opacity: 0;
}
.dsGame {width: 100%; height: 80px; box-sizing: border-box; opacity: 0}
.dsGame:hover {cursor: pointer; background-color: #1bbea0}
.dsGameText {font-size: 30px; padding-top: 20px; padding-left: 40px; float: left}
.IconGame {width: 100px; height: 78px;float: left}

#bg { width: 100%; height: 100px; float: left; box-sizing: border-box; z-index: 1; position: relative;
    background-color: #1bbea0; background-image: url("backgroud.title.png"); background-repeat: repeat;
    color: white; font-size: 50px; text-align: center; padding-top: 20px; margin-top: -70px; margin-bottom: 80px;
}

#footer {
    width: 100%; height: 200px; box-sizing: border-box; float: left;
    background-color: #222222; margin-top: 80px;
}
#footer div {
    width: 50%; float: left; font-size: 20px; color: #999999;
}
#f1 div {
    width: 100%; float: left; text-align: center; padding-top: 15px;
}
#f2 { margin-top: 20px; box-sizing: border-box}
#f2 div {
    width: 100%; margin-top: 10px; text-align: center;
}
#f2 img:hover { cursor: pointer}
#f21 { font-weight: bold; font-size: 30px;}

.main {width: 100%; height: 280px; float: left;}
.main2 {width: 100%; height: 280px; float: left; margin-top: 50px;}
.main3 {width: 100%; height: 280px; float: left; margin-top: 50px;}
.submain {width: 100%; height: 280px; float: left; margin-top: -280px;}

.show {opacity: 1; z-index: 1; position: relative;}
.hide {opacity: 0; z-index: 0; position: relative;}


.allgames { width: 100%; height: 210px; box-sizing: border-box; float: left}
.button { width: 5%; float: left}
.button img { padding-top: 70px; width: 50px; height: 50px; padding-left: 7px; opacity: 0.2}
.button img:hover{cursor: pointer; opacity: 1}

.imggame {width: 30%; float: left;}
.imggame img { width: 300px; height: 200px; border-radius: 20px; margin-left: 50px; }
.information {width: 90%; height: 70px; margin-left: 5%; float: left; box-sizing: border-box}
.info {width: 33.33%; float: left; color: #888888; font-size: 20px;text-align: center; padding-top: 5px;}
.info span { font-weight: bolder; color: black; font-size: 25px;}

